@import "config";
//@import "menu";

$portrait-image: url(../img/background.jpg);
$background-opacity: 0, 9;

* {
  //asterisk selects everything
  box-sizing: border-box;
}
body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Open Sans";
  //font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
//Headings
h1 {
  letter-spacing: 0.2em;
  text-align: center;
  font-size: 35px;
  font-weight: 900;

  margin-bottom: 0;
  a {
    color: #0f0f0f;
  }
}
h2 {
  padding-bottom: 4rem;
  letter-spacing: 0.2em;
  font-weight: 100;
  font-size: 20px;
  margin-top: 4px;
  a {
    color: #0f0f0f;
  }
}
h3 {
  letter-spacing: 0.2em;
  font-size: 20px;
  font-weight: lighter;
}
a {
  text-decoration: none;
  //   letter-spacing: normal;
  //   font-size: 3rem;
  //   font: normal normal bold 24px/1.4em "open sans", sans-serif;
  //   font-weight: 8000;
  // }
  //for Menu
  // header {
  //   position: fixed; //keeps header at top corner
  //   z-index: 2;
  //   width: 100%;
}

// make "Zhou" in h1 secondary"
.text-secondary {
  //color: $secondary-color;
}

main {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 0;
  padding-left: 10%;
  padding-right: 10%;
  //height: 100%;
  min-height: calc(100vh-64px);
  &#home {
    overflow: hidden;
  }
}

//CSS FOR ABOUT ME PAGE
.about-info {
  display: grid;
  text-align: center;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio";
  //"exp1 exp2 exp3";
  //grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  grid-area: bioimage;
  margin: 20px;
  //border-radius: 50%;
  //border: $secondary-color 3px solid;
}

.bio {
  margin: 10px;
  grid-area: bio;
  font-size: 1.5rem;
  max-width: 700px;
  text-align: left;
  p {
    line-height: 1.5em;
    font-size: 16px;
    font: sans-serif;
    font-weight: lighter;
    color: #616161;
    width: 60vh;
    line-height: 1.5em;
  }
}

//blocks in grid in home page
.blocks {
  display: inline-grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    padding: 0;
    text-align: center;
    width: 182px;
    height: 182px;

    &:hover {
      opacity: 0.75;
      transform: scale(1.15);
      z-index: 4;
      @include easeOut;
    }
  }
  item {
    align-content: center;
  }
}

footer {
  padding: 6rem;
  bottom: 20px;
  text-align: center;
  height: 60px;
  .icons {
    //this only affects icons inside main
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut(); //includes the mixin from above
      }
    }
  }
}

@import "mobile";
